name: Deploy Scraper API

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/govbr_scraper/**'
      - 'docker/**'
      - 'pyproject.toml'
      - 'poetry.lock'
      - '.github/workflows/scraper-api-deploy.yaml'
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    uses: destaquesgovbr/reusable-workflows/.github/workflows/cloud-run-deploy.yml@v2
    with:
      dockerfile: docker/Dockerfile
      ar_repository: destaquesgovbr-scraper-api
      image_name: scraper-api
      cloud_run_service: destaquesgovbr-scraper-api
